<div class="w3-content w3-container w3-padding-64" id="elections">
    <h3 class="w3-center">LOUSIANA ELECTIONS</h3>
    <p class="w3-center"><em>Select a race to get info on all the candidates</em></p>
    <div class="w3-row">
        <div class="w3-col w3-center m6 l6">
            <button class="w3-btn w3-black w3-round-large" routerLink="./senators" routerLinkActive="active"
            ariaCurrentWhenActive="page">US SENATE</button>
        </div>
        <div class="w3-col w3-center m6 l6">
            <button class="w3-btn w3-black w3-round-large" routerLink="./senators" routerLinkActive="active"
            ariaCurrentWhenActive="page">Judges</button>
        </div>
        <div class="w3-col w3-center m6 l6">
            <button class="w3-btn w3-black w3-round-large" routerLink="./senators" routerLinkActive="active"
            ariaCurrentWhenActive="page">Clerks of Court</button>
        </div>
        <div class="w3-col w3-center m6 l6">
            <button class="w3-btn w3-black w3-round-large" routerLink="./senators" routerLinkActive="active"
            ariaCurrentWhenActive="page">Amendments</button>
        </div>
        <div class="w3-col w3-center m6 l6">
            <button class="w3-btn w3-black w3-round-large" routerLink="./senators" routerLinkActive="active"
            ariaCurrentWhenActive="page">2nd District Representative</button>
        </div>
        <div class="w3-col w3-center m6 l6">
            <button class="w3-btn w3-black w3-round-large" routerLink="./senators" routerLinkActive="active"
            ariaCurrentWhenActive="page">Public Service Commission</button>
        </div>
    </div>
</div>
<hr/>
<router-outlet></router-outlet>
