<div class="bgimg-2 w3-display-container w3-opacity-min">
    <div class="w3-display-middle">
      <span class="w3-xxlarge w3-text-white w3-wide">PORTFOLIO</span>
    </div>
  </div>

  <!-- Container (Portfolio Section) -->
  <div class="w3-content w3-container w3-padding-64" id="portfolio">
    <!-- <h3 class="w3-center">MY WORK</h3> -->
    <p class="w3-center"><em>I'm gonna slowly add little toy projects here just for fun!</em></p>

    <a routerLink="ultimate-teammates" class="card--link">Ultimate Teammates!</a>
    <router-outlet></router-outlet>
  </div>
