<div class="bgimg-2 w3-display-container w3-opacity-min">
    <div class="w3-display-middle">
      <span class="w3-xxlarge w3-text-white w3-wide">PORTFOLIO</span>
    </div>
  </div>

  <!-- Container (Portfolio Section) -->
  <div class="pt-10 flex flex-col justify-center" id="portfolio">
    <!-- <h3 class="w3-center">MY WORK</h3> -->
    <p class="text-center pb-8"><em>Fun toy projects of mine. Work in progress.</em></p>
    <div class="flex justify-center">
      <a routerLink="ultimate-teammates" class="card--link w-40 text-center rounded-full bg-blue-300 p-4">Ultimate Teammates!</a>
    </div>
    <div class="flex justify-center mt-8 mb-32">
      <router-outlet></router-outlet>
    </div>
  </div>
