<!-- Nav -->
<div class="inset-x-0 top-0 w-full">
  <div class="
  py-3
  bg-black
  text-white
  focus:text-gray-700" id="myNavbar">
    <a class="hover:text-black hover:bg-gray-300 border-none pt-3 pb-3 pr-8 pl-8" routerLink="/home" 
    routerLinkActive="active" ariaCurrentWhenActive="page">HOME</a>
    <a class="hover:text-black hover:bg-gray-300 border-none pt-3 pb-3 pr-8 pl-8" routerLink="/contact" 
    routerLinkActive="active" ariaCurrentWhenActive="page">CONTACT</a>
    <a class="hover:text-black hover:bg-gray-300 border-none pt-3 pb-3 pr-8 pl-8" routerLink="/elections"
    routerLinkActive="active" ariaCurrentWhenActive="page">2022 LOUISIANA ELECTIONS</a>
  </div>
</div>

<router-outlet></router-outlet>

<!-- Footer -->
<footer class="relative inset-x-0 bottom-0 h-16 bg-gray-400 flex place-content-center">
  <div class="p-3">
    <a class="text-3xl p-4" href="https://www.linkedin.com/in/clydebates"><i
        class="fa fa-linkedin"></i></a>
    <a class="text-3xl p-4" href="https://github.com/clydebates/clydebates.github.io"><i
        class="fa fa-github"></i></a>
  </div>
</footer>
