<!-- Nav -->
<div class="w3-top">
  <div class="w3-bar w3-black" id="myNavbar">
    <a class="w3-bar-item w3-button" routerLink="/home" 
    routerLinkActive="active" ariaCurrentWhenActive="page">HOME</a>
    <a class="w3-bar-item w3-button" routerLink="/contact" 
    routerLinkActive="active" ariaCurrentWhenActive="page">CONTACT</a>
    <a class="w3-bar-item w3-button w3-hide-small" routerLink="/elections"
    routerLinkActive="active" ariaCurrentWhenActive="page">2022 LOUISIANA ELECTIONS</a>
  </div>
</div>

<router-outlet></router-outlet>

<!-- Footer -->
<footer id="footer" class="w3-center w3-black w3-padding-8 w3-opacity w3-hover-opacity-off">
  <div class="w3-large w3-section">
    <a class="footer-icon" href="https://www.linkedin.com/in/clydebates"><i
        class="fa fa-linkedin w3-hover-opacity"></i></a>
    <a class="footer-icon" href="https://github.com/clydebates/clydebates.github.io"><i
        class="fa fa-github w3-hover-opacity"></i></a>
  </div>
</footer>