<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
    <div class="w3-display-middle" style="white-space:nowrap;">
      <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">CLYDE BATES</span>
    </div>
  </div>

  <!-- Container (About Section) -->
  <div class="w3-content w3-container w3-padding-64" id="about">
    <h3 class="w3-center">ABOUT ME</h3>
    <p class="w3-center"><em>I do code.</em></p>
    <p></p>
    <p><b><i class="fa fa-user w3-margin-right w3-padding-large"></i>Hi! I'm a musician, dog person, cat person, and web developer.</b></p><br>
    <div class="w3-row">
      <div class="w3-col m6 w3-center w3-padding-large">
        <!-- <img src="../assets/img/PXL_20210131_213613554.PORTRAIT.jpg" class="w3-round w3-image" alt="Photo of My Cats" width="500" height="333"> -->
        <img src="../assets/img/yellowClyde.png" class="w3-image w3-round" width="500" height="333" alt="Photo of Me">
      </div>

      <!-- Show this text on right of picture on larger devices -->
      <div class="w3-col m6 w3-hide-small w3-padding-small">
        <p>My name is Clyde. I'm a fullstack developer with knowlege of HTML/CSS, Javascript, Java, SQL (and noSQL) databases,
            and all the tools, bells, and whistles that come along with these things. I've got years of professional experience in the development realm,
            but my background lies in music and the service industry. After getting my Bachelor's in Music Performance, I toured the US with multiple bands while
            working a day job as a pedicabber in New Orleans. It's these real-world experiences that make me so much more than a developer. I'm a hard worker,
            a team builder, a free thinker, a solution finder. Nice to meet you.</p>
            <br><br>
            <p>Want to know more about my professional life?</p>
            <p><a href="../assets/documents/genericResume2022.pdf" target="_blank">Click here for my resume.</a></p>
      </div>
      <!-- Show it below picture on small devices-->
      <div class="m6 w3-hide-large w3-hide-medium w3-padding-large">
        <p>My name is Clyde. I'm a fullstack developer with knowlege of HTML/CSS, Javascript, Java, SQL (and noSQL) databases,
            and all the tools, bells, and whistles that come along with these things. I've got years of professional experience in the development realm,
            but my background lies in music and the service industry. After getting my Bachelor's in Music Performance, I toured the US with multiple bands while
            working a day job as a pedicabber in New Orleans. It's these real-world experiences that make me so much more than a developer. I'm a hard worker,
            a team builder, a free thinker, a solution finder. Nice to meet you.</p>
      </div>
    </div>
</div>
